apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "traefik-officer-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "traefik-officer-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "traefik-officer-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- if .Values.annotations }}
        {{- toYaml .Values.annotations | nindent 8 }}
        {{- end }}
      labels:
        {{- include "traefik-officer-operator.selectorLabels" . | nindent 8 }}
        {{- if .Values.labels }}
        {{- toYaml .Values.labels | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "traefik-officer-operator.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
          {{- toYaml .Values.securityContext | nindent 10 }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
          - --enable-log-processor=true
          - --metrics-bind-address=:{{ .Values.metrics.port }}
          - --health-probe-bind-address=:{{ .Values.metrics.healthPort }}
          {{- if .Values.operator.leaderElection.enabled }}
          - --leader-elect
          {{- end }}
          {{- if eq .Values.traefik.logSource "kubernetes" }}
          - --use-k8s=true
          - --k8s-namespace={{ .Values.traefik.kubernetes.namespace }}
          - --k8s-label-selector={{ .Values.traefik.kubernetes.podLabelSelector }}
          - --k8s-container={{ .Values.traefik.kubernetes.containerName }}
          {{- else if eq .Values.traefik.logSource "file" }}
          - --log-file={{ .Values.traefik.file.path }}
          {{- end }}
          {{- if eq .Values.logFormat.format "json" }}
          - --json-logs=true
          {{- end }}

        ports:
        - name: metrics
          containerPort: {{ .Values.metrics.port }}
          protocol: TCP
        - name: health
          containerPort: {{ .Values.metrics.healthPort }}
          protocol: TCP

        {{- if .Values.livenessProbe }}
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        {{- end }}

        {{- if .Values.readinessProbe }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        {{- end }}

        resources:
          {{- toYaml .Values.resources | nindent 10 }}

        {{- with .Values.volumeMounts }}
        volumeMounts:
          {{- toYaml . | nindent 10 }}
        {{- end }}

      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 6 }}
      {{- end }}

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
